<!DOCTYPE html>
<head>
<link rel="stylesheet" href="stylesheets/users.scss" type="text/css">

</head>
<body>
<h1>All Users Pages</h1>

<%@users.each do |user|%>


<ul><li><%=link_to user.username, user_path(user)%>- Plant Count: <%=link_to user.plants.size, user_plants_path(user)%></li></ul><%end%>
</body></html>