// Place all the styles related to the Plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table.center, th, td {
  border: 1px solid black;
margin-left: auto;
margin-right: auto;
}
th {  font-weight: bold;
}
#error_explanation {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}
label {
    font-weight: bold;
}
body {
background-color: lightblue;
text-align: center;
list-style-position:inside;
}

#divbody {
  border: 2pt solid blue;
}
#comments {
  border-bottom: 2pt solid blue;
  border-bottom-width: 100%
}
