// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  #error_explanation {
    font-weight: bold;
    color: red;
    text-decoration: underline;
  }
  ul {
    list-style-type: none;
  }
 
  #main{
    background-color:rgba(9, 206, 25, 0.9767);
    border-radius:7px;
    border: 2pt solid black;
  }
  #main:any-link:hover{
    background-color:chartreuse;
    font-weight:bolder;
  }
 
  body {
    background-image: url("https://media.istockphoto.com/vectors/collection-of-different-decor-house-indoor-garden-plants-in-pots-and-vector-id1009948020?k=20&m=1009948020&s=612x612&w=0&h=7nZvIu9FIl7gWnW9ttep8Hq1xR1yTxj1WkCDFWiy7xk=");
    background-repeat:no-repeat;
    background-size:cover;
  text-align: center;
  }
  label {
    font-weight: bold;
}